<p>Details works!</p>
<div>
    <br>
        <div>
            <div>   
                <div>Name: {{transaction.name}}</div>
                <div>Purchase Date: {{transaction.purchyear}}-{{transaction.purchmonth}}-{{transaction.purchday}}</div>
                <div>Entry Date: {{transaction.entrydate}}</div>
                <div>Labels: {{transaction.labels}}</div>
                <div>Necessary: {{transaction.necessary}}</div>
                <div>Price: ${{transaction.price}}</div>
                <div>Description: {{transaction.description}}</div>
            </div>   
        </div>
               
</div>